.c-grid-fluid, .c-grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.starmap__box-content:after, .c-title {
  font-family: "Yeseva One", cursive;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
  width: 100%;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
body > .main--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-grid {
  max-width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
}
.c-grid-fluid {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 14px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo.logo--footer .logo__btn img {
  max-width: 230px;
}
.logo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.logo__btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

.c-title {
  font-size: 35px;
}
.c-title--white {
  color: #fff;
}
.c-title--center {
  text-align: center;
}

.c-line {
  width: 100%;
  max-width: 175px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 35px;
  background-color: #94ffc4;
}
.c-line--center {
  margin-left: auto;
  margin-right: auto;
}

.c-desc {
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 1.7;
}
.c-desc--white {
  color: #fff;
}
.c-desc--center {
  text-align: center;
}

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 200px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #94ffc4;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
  border-radius: 0;
  background-color: #94ffc4;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.c-btn:hover {
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.c-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-btn__wrapper--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #000;
}
.footer__wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__wrapper-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer__wrapper-left, .footer__wrapper-right {
  width: 100%;
  max-width: 320px;
}
.footer__wrapper-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__address p {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}
.footer__address p a {
  font-weight: 500;
  text-decoration: underline;
  color: #fff;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__nav a {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.starmap {
  padding-top: 75px;
  padding-bottom: 75px;
}
.starmap__box {
  position: relative;
}
.starmap__box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-starmap-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.starmap__box:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 100px;
  background-color: #94ffc4;
}
.starmap__box-content {
  z-index: 2;
  position: relative;
  padding: 20px 20px 20px 115px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
  background-color: white;
}
.starmap__box-content:after {
  content: attr(data-num);
  z-index: 5;
  position: absolute;
  top: -10px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: calc(100% + 10px);
  background-color: #94ffc4;
  font-size: 22px;
}
.starmap__box-content:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 88px;
  width: 10px;
  height: 10px;
  border-width: 7px;
  border-style: solid;
  -webkit-transform: rotate(134deg);
      -ms-transform: rotate(134deg);
          transform: rotate(134deg);
  border-color: transparent transparent transparent #00fa70;
}
.starmap__box-content > div {
  z-index: 2;
  position: relative;
}
.starmap__box-content > div h3 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.starmap__box-content > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
}
.starmap__box-content > div ul li {
  list-style-type: disc;
  font-size: 16px;
}
.starmap__box-content > div ul li:not(:last-of-type) {
  padding-bottom: 5px;
}
.starmap__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
.starmap__box-wrapper > div:not(:last-of-type) {
  padding-bottom: 50px;
}

.faq {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../img/img-faq-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.faq:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.faq__wrapper {
  z-index: 2;
  position: relative;
}
.faq__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.faq__collapse-head {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  padding: 10px 50px 10px 15px;
}
.faq__collapse-head.is-active span:after {
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.faq__collapse-head p {
  padding-top: 3px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.faq__collapse-head span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 20px;
}
.faq__collapse-head span:before, .faq__collapse-head span:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.faq__collapse-head span:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
}
.faq__collapse-head span:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.faq__collapse-body {
  display: none;
}
.faq__collapse-body > div {
  padding: 0 15px 15px;
}
.faq__collapse-body p {
  padding-bottom: 0;
}
.faq__collapse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.faq__collapse-wrapper > div {
  width: 100%;
}
.faq__collapse-wrapper > div:not(:last-of-type) {
  padding-bottom: 10px;
}

.prefooter {
  padding-top: 75px;
  padding-bottom: 75px;
}
.prefooter__desc {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}