.c-grid-fluid, .c-grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.team__box-head img, .roll__block-visual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.starmap__box-content:after, .welcome__subtitle, .welcome__label, .c-title {
  font-family: "Yeseva One", cursive;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
  width: 100%;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
body > .main--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-grid {
  max-width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
}
.c-grid-fluid {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 14px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo.logo--header .logo__btn img {
  max-width: 100px;
}
.logo.logo--footer .logo__btn img {
  max-width: 230px;
}
.logo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.logo__btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

.c-title {
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .c-title {
    font-size: 30px;
  }
}
.c-title--big {
  font-size: 45px;
}
@media screen and (max-width: 767px) {
  .c-title--big {
    font-size: 40px;
  }
}
.c-title--white {
  color: #fff;
}
.c-title--center {
  text-align: center;
}

.c-line {
  width: 100%;
  max-width: 175px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 35px;
  background-color: #94ffc4;
}
.c-line--white {
  background-color: #ffffff;
}
.c-line--center {
  margin-left: auto;
  margin-right: auto;
}

.c-desc {
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .c-desc {
    font-size: 16px;
  }
}
.c-desc--white {
  color: #fff;
}
.c-desc--center {
  text-align: center;
}

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 200px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #94ffc4;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
  border-radius: 0;
  background-color: #94ffc4;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.c-btn:hover {
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.c-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-btn__wrapper--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
  background-color: #000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 75px;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .header__nav a {
    font-size: 12px;
  }
}
.header__nav a:hover {
  color: #94ffc4;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__nav a:not(:last-of-type) {
  margin-right: 20px;
}
@media screen and (max-width: 1023px) {
  .header__nav a:not(:last-of-type) {
    margin-right: 10px;
  }
}

.footer {
  background-color: #000;
}
.footer__wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .footer__wrapper-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.footer__wrapper-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer__wrapper-left, .footer__wrapper-right {
  width: 100%;
  max-width: 320px;
}
@media screen and (max-width: 767px) {
  .footer__wrapper-left, .footer__wrapper-right {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper-right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.footer__wrapper-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .footer__wrapper-middle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 35px;
  }
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer__address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__address p {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}
.footer__address p a {
  font-weight: 500;
  text-decoration: underline;
  color: #fff;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__nav a {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.welcome {
  min-height: 75px;
}
.welcome__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width: 1023px) {
  .welcome__wrapper {
    grid-template-columns: 1fr;
    gap: 0;
    padding-bottom: 75px;
  }
}
.welcome__visual {
  display: block;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .welcome__visual {
    display: none;
  }
}
.welcome__label {
  font-size: 18px;
}
.welcome__subtitle {
  padding-bottom: 25px;
  font-size: 22px;
}
.welcome__desc {
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .welcome__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .welcome__btn .c-btn {
    width: 100%;
  }
}
.welcome__btn .c-btn + .c-btn {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .welcome__btn .c-btn + .c-btn {
    margin-left: 0;
    margin-top: 15px;
  }
}

.preview {
  position: relative;
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../img/img-preview-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1023px) {
  .preview {
    padding-top: 175px;
    padding-bottom: 175px;
  }
}
@media screen and (max-width: 767px) {
  .preview {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.preview:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}
.preview__wrapper {
  z-index: 2;
  position: relative;
}
.preview__box {
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
}
.preview__btn {
  padding-top: 50px;
  padding-bottom: 30px;
}

.system {
  padding-top: 75px;
  padding-bottom: 75px;
}
.system__desc {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.system__subtitle {
  padding-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
}
.system__box {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
  .system__box {
    grid-template-columns: 1fr;
  }
}
.system__box > div {
  padding: 50px 30px;
}
@media screen and (max-width: 767px) {
  .system__box > div {
    padding: 25px 0;
  }
}
.system__box ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 15px;
}
.system__box ul li {
  text-align: center;
  font-size: 16px;
}
.system__describe {
  padding-bottom: 0;
}
.system__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.system__images > div {
  padding: 25px;
}
.system__images > div:nth-of-type(1) {
  border-right: 2px solid #94ffc4;
  border-bottom: 2px solid #94ffc4;
}
.system__images > div:nth-of-type(2) {
  border-bottom: 2px solid #94ffc4;
}
.system__images > div:nth-of-type(3) {
  border-right: 2px solid #94ffc4;
}
.system__images img {
  display: block;
  max-width: 125px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.system__images h3 {
  padding-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.system__images p {
  padding-top: 10px;
  font-weight: bold;
}

.foundation {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000;
}
.foundation__desc {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.foundation__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}
.foundation__box:before {
  content: "";
  position: absolute;
  top: 95px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 90px);
  border: 2px solid #94ffc4;
}
.foundation__box:after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  border: 2px solid #94ffc4;
}
.foundation__box-head, .foundation__box-body {
  z-index: 2;
  position: relative;
}
.foundation__box-head {
  padding-left: 30px;
  padding-right: 30px;
}
.foundation__box-head img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.foundation__box-body {
  padding: 30px 15px;
  text-align: center;
  color: #fff;
}
.foundation__box-body h3 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #94ffc4;
  text-decoration: underline;
}
.foundation__box-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foundation__box-body ul li {
  font-size: 14px;
}
.foundation__box-body ul li:not(:last-of-type) {
  padding-bottom: 10px;
}
.foundation__box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 1023px) {
  .foundation__box-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .foundation__box-wrapper {
    grid-template-columns: 1fr;
  }
}

.roll {
  padding-top: 75px;
  padding-bottom: 75px;
}
.roll__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
  .roll__block {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
}
.roll__block > div {
  position: relative;
}
.roll__block-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
  padding-bottom: 75px;
}
@media screen and (max-width: 767px) {
  .roll__block-wrapper {
    padding-top: 0;
  }
}
.roll__block-content {
  padding: 50px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .roll__block-content {
    padding: 30px 0;
  }
}
.roll__block-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #94ffc4;
}
@media screen and (max-width: 767px) {
  .roll__block-visual {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .roll__block-visual img {
    position: relative;
  }
}
.roll__block-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.roll__block-desc {
  padding-bottom: 0;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .roll__block-desc {
    font-size: 14px;
  }
}
.roll__box {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 200px 150px 1fr;
}
@media screen and (max-width: 1023px) {
  .roll__box {
    grid-template-columns: 1fr;
  }
}
.roll__box:not(:last-of-type) {
  padding-bottom: 50px;
}
.roll__box-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #94ffc4;
}
@media screen and (max-width: 1023px) {
  .roll__box-round {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .roll__box-round {
    margin-left: auto;
    margin-right: auto;
  }
}
.roll__box-round .c-title {
  font-size: 30px;
  line-height: 1.2;
}
.roll__box-line {
  max-width: 100%;
  margin: 0;
}
.roll__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #94ffc4;
}
@media screen and (max-width: 767px) {
  .roll__box-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.roll__box-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 50%;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .roll__box-content > div {
    max-width: 100%;
  }
}
.roll__box-content > div:nth-of-type(1) {
  border-right: 2px solid #94ffc4;
}
@media screen and (max-width: 767px) {
  .roll__box-content > div:nth-of-type(1) {
    border-right: none;
    border-bottom: 2px solid #94ffc4;
  }
}
.roll__box-content > div img {
  display: block;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.roll__box-content > div p {
  padding-top: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.roll__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.team {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #94ffc4;
}
.team__desc {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__box-head {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 175px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
}
.team__box-body {
  padding-top: 20px;
}
.team__box-body p {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.team__box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 100px;
  padding-top: 50px;
}
@media screen and (max-width: 1023px) {
  .team__box-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .team__box-wrapper {
    grid-template-columns: 1fr;
  }
}

.starmap {
  padding-top: 75px;
  padding-bottom: 75px;
}
.starmap__box {
  position: relative;
}
.starmap__box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-starmap-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.starmap__box:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 100px;
  background-color: #94ffc4;
}
.starmap__box-content {
  z-index: 2;
  position: relative;
  padding: 20px 20px 20px 115px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
  background-color: white;
}
.starmap__box-content:after {
  content: attr(data-num);
  z-index: 5;
  position: absolute;
  top: -10px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: calc(100% + 10px);
  background-color: #94ffc4;
  font-size: 22px;
}
.starmap__box-content:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 88px;
  width: 10px;
  height: 10px;
  border-width: 7px;
  border-style: solid;
  -webkit-transform: rotate(134deg);
      -ms-transform: rotate(134deg);
          transform: rotate(134deg);
  border-color: transparent transparent transparent #00fa70;
}
.starmap__box-content > div {
  z-index: 2;
  position: relative;
}
.starmap__box-content > div h3 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.starmap__box-content > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
}
.starmap__box-content > div ul li {
  list-style-type: disc;
  font-size: 16px;
}
.starmap__box-content > div ul li:not(:last-of-type) {
  padding-bottom: 5px;
}
.starmap__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
.starmap__box-wrapper > div:not(:last-of-type) {
  padding-bottom: 50px;
}

.faq {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../img/img-faq-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.faq:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.faq__wrapper {
  z-index: 2;
  position: relative;
}
.faq__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.faq__collapse-head {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  padding: 10px 50px 10px 15px;
}
.faq__collapse-head.is-active span:after {
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.faq__collapse-head p {
  padding-top: 3px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.faq__collapse-head span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 20px;
}
.faq__collapse-head span:before, .faq__collapse-head span:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.faq__collapse-head span:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
}
.faq__collapse-head span:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.faq__collapse-body {
  display: none;
}
.faq__collapse-body > div {
  padding: 0 15px 15px;
}
.faq__collapse-body p {
  padding-bottom: 0;
}
.faq__collapse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.faq__collapse-wrapper > div {
  width: 100%;
}
.faq__collapse-wrapper > div:not(:last-of-type) {
  padding-bottom: 10px;
}

.prefooter {
  padding-top: 75px;
  padding-bottom: 75px;
}
.prefooter__desc {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}