// SECTION :: START

section#faq.faq
  .c-grid
    .faq__wrapper

      h2.faq__title.c-title.c-title--center.c-title--white FREQUENTLY ASKED QUESTIONS
      .c-line.c-line--center

      .faq__collapse-wrapper
        div
          .faq__collapse
            .faq__collapse-head
              p WHY SHOULD I BUY A MATERIAL WORLD NFT?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white The Future Of The NFT Space Is Utility. Projects Will Be Judged By The Utility They Bring Their Holders, Not By The Fancy Artwork That Comes Attached To Their NFT’s. Here At Material World We Recognize That, Favoring Utility Over Art, Bringing Straightforward Utility Through Giveaways. We Bring Immediate Value To Our Holders With Each Collection Giveaway, And Recurring Value For Tier Members With Our Private Giveaways That Take Place Every Month.
        div
          .faq__collapse
            .faq__collapse-head
              p IF I MINT THROUGH POLYGON OR CROSSMINT CAN I SELL ON OPENSEA?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white Yes You Can. Opensea Has Cross Blockchain Compatibility With Polygon, And When You Mint Through Crossmint Your NFT Is Stored With Crossmint Until You Transfer It To Your Wallet, Which Can Then Be Moved To Opensea.
        div
          .faq__collapse
            .faq__collapse-head
              p WHAT IS CROSSMINT?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white Crossmint Is A Platform That Enables Anyone To Mint An NFT In 1 Minute Using Their Gmail And Credit Card. No Wallet Or Crypto Required.
        div
          .faq__collapse
            .faq__collapse-head
              p CAN I REFUND MATERIAL WORLD NFT'S?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white No, Once You Buy A Material World NFT There Is No Refund/Money Back Option.
        div
          .faq__collapse
            .faq__collapse-head
              p ARE MATERIAL WORLD NFT'S A GOOD INVESTMENT?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white Yes, Material World Is A Project That’s Primary Goal Is To Bring Its Holders Utility In A Straightforward Manner. Through Our Collection Giveaways, Tier System, Events, And Exclusive Opportunities. Which Will Continue To Expand Into The Future. Through Our Tier System, Tier Members Will Have Access To Private Giveaways And Private Events That Take Place Every Month. Material World Brings Physical Utility, In The Form Of Material Goods. Straightforward Utility.
        div
          .faq__collapse
            .faq__collapse-head
              p HOW AM I PROTECTED AS A BUYER?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white Through Our Sales Contract. Signed And Agreed Upon By Us. We Are Obligated To Carry Out The Foundation 1 Giveaway And Distribute The Prizes After Rounds 1, 2, And 3. We Are Also Obligated To Carry Out The Before Mentioned Monthly Giveaways For Our Tier Members Following The Commencement Of The F1 Giveaway. As Is Specified On Our Starmap. We Agree To Do This And Must Do This Lest We Suffer The Legal Consequences.
        div
          .faq__collapse
            .faq__collapse-head
              p WHEN IS THE MINT DATE?
              span
            .faq__collapse-body
              div
                p.c-desc.c-desc--white The Mint Date Of The Foundation 1 Collection Will Be Announced On Our Twitter, Instagram, And Discord. We Wish To Bring Our Community A Well Polished Product And We Will Take Our Time To Deliver On That. Thank Your For Being Patient.

// SECTION :: END
