// SECTION :: START

section#foundation.foundation
  .c-grid
    .foundation__wrapper

      h2.foundation__title.c-title.c-title--center.c-title--white FOUNDATION 1 COLLECTION
      .foundation__line.c-line.c-line--center
      p.foundation__desc.c-desc.c-desc--center.c-desc--white 6,600 NFT LOOT BOXES. THE POINT VALUATION OF EACH MW NFT IS BASED ON AGE AND RARITY. FOUNDATION 1 WILL BE OUR OLDEST COLLECTION. MAKING THE NFT’S IN THIS COLLECTION THE HIGHEST VALUED IN MATERIAL WORLD.

      .foundation__box-wrapper
        .foundation__box
          .foundation__box-head
            img(src="img/img-foundation-gold.png" alt="")
          .foundation__box-body
            h3 GOLD
            ul
              li 600 GOLD NFT’S
              li 30 POINTS EACH
              li FIRST TO GO ON MINT DAY. FIRST COME FIRST SERVE
              li THE HIGHEST VALUED NFT’S IN MATERIAL WORLD
              li GUARANTEED ROLL IN ALL 3 ROUNDS OF THE F1 GIVEAWAY
        .foundation__box
          .foundation__box-head
            img(src="img/img-foundation-platinum.png" alt="")
          .foundation__box-body
            h3 PLATINUM
            ul
              li 1,000 PLATINUM NFT’S
              li 25 POINTS EACH
              li SECOND TO GO ON MINT DAY. FIRST COME FIRST SERVE
              li SECOND HIGHEST VALUED NFT’S IN MATERIAL WORLD
              li FIRST 400 WILL HAVE A GUARANTEED ROLL IN ALL 3 ROUNDS. THE REMAINING 600 WILL HAVE A GUARANTEED ROLL IN ROUNDS 2 & 3 OF THE F1 GIVEAWAY
        .foundation__box
          .foundation__box-head
            img(src="img/img-foundation-bronze.png" alt="")
          .foundation__box-body
            h3 BRONZE
            ul
              li 2,000 BRONZE NFT’S
              li 20 POINTS EACH
              li THIRD TO GO ON MINT DAY. FIRST COME FIRST SERVE
              li THIRD HIGHEST VALUED NFT’S IN MATERIAL WORLD
              li FIRST 1,400 WILL HAVE A GUARANTEED ROLL IN ROUND 2. THE REMAINING 600 WILL HAVE A GUARANTEED ROLL IN ROUND 3 OF THE F1 GIVEAWAY
        .foundation__box
          .foundation__box-head
            img(src="img/img-foundation-marble.png" alt="")
          .foundation__box-body
            h3 MARBLE
            ul
              li 3,000 MARBLE NFT’S
              li 15 POINTS EACH
              li FOURTH TO GO ON MINT DAY. FIRST COME FIRST SERVE
              li FOURTH HIGHEST VALUED NFT’S IN MATERIAL WORLD
              li 2,700 WILL HAVE A GUARANTEED ROLL IN ROUND 3 OF THE F1 GIVEAWAY.

// SECTION :: END
