// SECTION :: START

section#prefooter.prefooter
  .c-grid
    .prefooter__wrapper

      h2.prefooter__title.c-title.c-title--center!= "BUY A MATERIAL WORLD NFT. <br>JOIN THE COMMUNITY NOW"
      .prefooter__line.c-line.c-line--center
      p.prefooter__desc.c-desc.c-desc--center A Giveaway Based Project. $275,000 In Prizes. Recurring Giveaways. Private Events. Exclusive Access. Straightforward Utility. Don’t Miss The Foundation 1 Mint

      .prefooter__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#") Minting Soon

// SECTION :: END
