// SECTION :: START

section#preview.preview
  .c-grid
    .preview__wrapper

      .preview__box

      .preview__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#") Minting Soon
      h2.preview__title.c-title.c-desc--center FOUNDATION 1 COLLECTION

// SECTION :: END
