// SECTION :: START

section#roll.roll
  .c-grid
    .roll__wrapper

      h2.roll__title.c-title.c-title--center!= "FORTUNA'S ROLL<br>$275,000 in prizes"
      .roll__line.c-line.c-line--center

      .roll__block-wrapper
        .roll__block.roll__block-1
          div
            .roll__block-content
              h3.roll__block-title THE FOUNDATION 1 GIVEAWAY
              p.roll__block-desc.c-desc Material World’s Giveaways Are A Cornerstone Of This NFT Project. Seeking To Bring Our Holders Recurring Value And Straight Forward Utility. We Hold Giveaways Routinely For Our Tier Members. As Well As A Massive Prize Giveaway With The Drop Of Every NFT Collection, For All Holders. Prizes Varying From Cars, Watches, Trips, Concert Tickets, Cash Giveaways, Laptops, IPhone’s, Luxury Items, Etc. The List Goes On, Material Things.
          div
            .roll__block-visual
              img(src="img/img-roll-foundation.jpg" alt="")
        .roll__block.roll__block-2
          div
            .roll__block-visual
              img(src="img/img-roll-rounds.jpg" alt="")
          div
            .roll__block-content
              h3.roll__block-title 3 ROUNDS, 6 PRIZES
              p.roll__block-desc.c-desc The F1 Giveaway Will Consist Of 3 Rounds. Each Round Triggering At A Certain Number Of NFT’s Sold. Round 1 Will Begin At 1000 NFT’s Sold, Round 2 At 2,000 NFT’s, Round 3 At 6,000 NFT’s. Round 1 Will Consist Of 2 Prizes, Each Valued At Around $25,000. Round 2 Will Also Consist Of 2 Prizes, Valued At Around $70,000 Collectively. Round 3 Will Consist Of 2 Car Prizes, The Tesla Model S Valued At Around $55,000 And The BMW I8 Valued At Around $75,000.

      .roll__box-wrapper
        .roll__box
          div
            .roll__box-round
              p.c-title.c-title--center!= "Round<br>1"
          div
            .roll__box-line.c-line
          div
            .roll__box-content
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $25,000
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $25,000
        .roll__box
          div
            .roll__box-round
              p.c-title.c-title--center!= "Round<br>2"
          div
            .roll__box-line.c-line
          div
            .roll__box-content
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $30,000
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $40,000
        .roll__box
          div
            .roll__box-round
              p.c-title.c-title--center!= "Round<br>3"
          div
            .roll__box-line.c-line
          div
            .roll__box-content
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $75,000
              div
                img(src="img/img-roll-prize.jpg" alt="")
                p $55,000

// SECTION :: END
