
// SECTION :: START

section#starmap.starmap
  .c-grid
    .starmap__wrapper

      h2.starmap__title.c-title.c-title--center!= "STARMAP <br>Our Path Into The Future"
      .starmap__line.c-line.c-line--center

      .starmap__box-wrapper
        div
          .starmap__box
            .starmap__box-content(data-num='1')
              div
                h3 IN A FEW WEEKS TO A FEW MONTHS
                ul
                  li Foundation 1 Collection Drop $275,000 Giveaway
                  li Selection Of Foundation 1 Giveaway Winners And Price Distribution At The End Of Each Round
                  li Member Score Count And Tier Establishment
                  li Launch Of Private Giveaway And Event Calendar
                  li Month 1 Of Private Giveaways For Tiers I – III Members
                  li Month 2 Of Private Giveaways For Tier I – III Members
        div
          .starmap__box
            .starmap__box-content(data-num='2')
              div
                h3 IN A FEW MONTHS TO A YEAR
                ul
                  li Month 3 Of Private Giveaways For Tier I – III Members
                  li Month 4 Of Private Giveaways For Tier I – III Members
                  li Month 5 Of Private Giveaways For Tier I – III Members
                  li Gems Collection Drop $500, 000 Giveaway
                  li Selection Of Gems Giveaway Winners And Price Distribution At The End Of Each Round
        div
          .starmap__box
            .starmap__box-content(data-num='3')
              div
                h3 IN A YEAR+
                ul
                  li Lost Worlds Collection Giveaway Amount TBA
                  li Material World App.To Make NFT Technology More Accessible To Everyday People
        div
          .starmap__box
            .starmap__box-content(data-num='4')
              div
                h3 COMPLETED
                ul
                  li Website
                  li Website Leaderboard
                  li Website Personal Member Profiles With Point Score And Ranking
                  li Polygon & Crossmint Compatibility
                  li Material World Discord

// SECTION :: END
