// SECTION :: START

section#team.team
  .c-grid
    .team__wrapper

      h2.team__title.c-title.c-title--center.c-title--center OUR TEAM
      .team__line.c-line.c-line--center.c-line--white
      p.team__desc.c-desc.c-desc--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda distinctio laborum minima nesciunt quis, temporibus. Aliquam assumenda blanditiis, culpa dicta doloribus esse ex exercitationem expedita facere ipsum magnam odit pariatur quaerat, quidem recusandae repellendus rerum sapiente sunt voluptates.

      .team__box-wrapper
        .team__box
          .team__box-head
            img(src="img/img-demetrius.jpg" alt="")
          .team__box-body
            p!= "Founder <br>Art Director"
        .team__box
          .team__box-head
            img(src="img/img-demetrius.jpg" alt="")
          .team__box-body
            p!= "Social Media <br>Manager"
        .team__box
          .team__box-head
            img(src="img/img-demetrius.jpg" alt="")
          .team__box-body
            p!= "Developer <br>Marketing"
        .team__box
          .team__box-head
            img(src="img/img-demetrius.jpg" alt="")
          .team__box-body
            p!= "Head of <br>Engineering"

// SECTION :: END
