// SECTION :: START

section#welcome.welcome
  .c-grid
    .welcome__wrapper
      div

        p.welcome__label Welcome to
        h1.welcome__title.c-title.c-title--big MATERIAL WORLD
        p.welcome__subtitle!= "STAIGHT FORWARD UTILITY. <br>GIVEAWAY BASED NFT."
        p.welcome__desc.c-desc $275,000 in prizes with the drop of foundation 1. we hold recurring giveaways, events, and prizes for our nft holders that increase in value with tier through our tier system. lottery tickets you can reuse.

        .welcome__btn.c-btn__wrapper
          a.c-btn(href="#") Minting Soon
          a.c-btn(href="#") Giveaways

      div

        img.welcome__visual(src="img/img-welcome.png" alt="")

// SECTION :: END
