// SECTION :: START

.welcome {
  min-height: 75px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    @include adaptive(1023) {
      grid-template-columns: 1fr;
      gap: 0;
      padding-bottom: 75px;
    }
  }

  &__visual {
    display: block;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @include adaptive(1023) {
      display: none;
    }
  }

  &__label {
    font-size: 18px;
    @extend %fontYeseva;
  }

  &__subtitle {
    padding-bottom: 25px;
    @extend %fontYeseva;
    font-size: 22px;
  }

  &__desc {
    padding-bottom: 50px;
  }

  &__btn {
    @include adaptive(767) {
      flex-direction: column;
    }

    .c-btn {
      @include adaptive(767) {
        width: 100%;
      }

      & + .c-btn {
        margin-left: 15px;
        @include adaptive(767) {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}

// SECTION :: END
