// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-1
      .footer__wrapper-left

        .footer__address
          p!= "Contact: <a href='mainto:info@infomain.dot'>info@infomain.dot</a>"
          p Etherscan

      .footer__wrapper-middle

        .logo.logo--footer
          a.logo__btn(href="#")
            img(src="img/logo.jpg" alt="")

      .footer__wrapper-right

        nav.footer__nav
          a(href="#") Terms & Conditions
          a(href="#") Sales Contacts

    .footer__wrapper.footer__wrapper-2

      .copyright Material World 2022 @ All Rights Reserved

// FOOTER :: END
