// HEADER :: START

nav#header.header
  .c-grid-fluid
    .header__wrapper
      div

        .logo.logo--header
          a.logo__btn(href="#")
            img(src="img/logo.jpg" alt="")

      div

        nav.header__nav
          a(href="#welcome" anchor-js) HOME
          a(href="#system" anchor-js) HOW IT WORKS
          a(href="#") GIVEAWAYS
          a(href="#") THE COMPANIONS
          a(href="#starmap" anchor-js) STARMAP
          a(href="#") LEADERBOARD
          a(href="#faq" anchor-js) FAQ

// HEADER :: END
