// DESC :: START

.c-desc {
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 1.7;
  @include adaptive(767) {
    font-size: 16px;
  }

  &--white {
    color: $c-white;
  }
  &--center {
    text-align: center;
  }
}

// DESC :: END
