// LOGOTYPE :: START

.logo {
  display: flex;

  &.logo--header {
    .logo__btn {
      img {
        max-width: 100px;
      }
    }
  }

  &.logo--footer {
    .logo__btn {
      img {
        max-width: 230px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
