// TITLE :: START

.c-title {
  @extend %fontYeseva;
  font-size: 35px;

  &--big {
    font-size: 45px;
  }
  &--white {
    color: $c-white;
  }
  &--center {
    text-align: center;
  }
}

// TITLE :: END
